/* ==========================================================================
    DEFAULT THEME - DARK VERSION
    ========================================================================== */

/* Color codes used for the theme */
// $primary-color              : #42a5f5;
$primary-color              : #54a970;
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);

// $background                 : #1a1a2e;
$background                 : #18231d;
$background-light           : mix(#fff, $background, 80%);
$background-lighter         : mix(#fff, $background, 90%);
$text                       : #e4e6eb;
// $link                       : #42a5f5;
$link                       : #54a970;
$link-dark                  : mix(#000, $link, 15%);
$link-light                 : mix(#fff, $link, 15%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
// $info-color                 : #42a5f5;
$info-color                 : #54a970;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #{$background};
    // --global-footer-bg-color            : #16162a;
    --global-footer-bg-color            : #395d42;
    // --global-border-color               : #2d2d4a;
    --global-border-color               : #{$dark-gray}; 
    --global-dark-border-color          : #{$background-light};
    --global-code-background-color      : #2d2d4a;
    --global-code-text-color            : #e4e6eb;
    --global-fig-caption-color          : #{$light-gray};
    --global-link-color                 : #{$link};
    --global-link-color-hover           : #{$link-light};
    --global-link-color-visited         : #{$link-dark};
    --global-masthead-link-color        : #{$text};
    --global-masthead-link-color-hover  : #{$primary-color};
    --global-text-color                 : #{$text};
    --global-text-color-light           : #b0b3b8;
    --global-thead-color                : #2d2d4a;
}
